<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			.flex-container {
				display: flex;
			}
			/* 以下为辅助样式 */
			
			.flex-container {
				flex-wrap: wrap;
				background-color: white;
			}
			
			.flex-container .flex-item {
				/*padding: 20px;*/
				background-color: white;
			}
			
			.flex-container .flex-item1 {
				margin-right: 10px;
				background-color: white;
			}
			
			.flex-container .flex-item:first-child {
				background-color: white;
			}
			
			.flex-container .flex-item:last-child {
				background-color: white;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color:#63BBFF;" id="tempVue">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" style="color: white;"></a>
			<h1 class="mui-title" style="color: white;">选择年级班级</h1>
			<a @click="addNotice()" class="mui-pull-right" style="color: white;font-size: 15px;margin-top: 10px;">发布</a>
		</header>
		<div class="mui-content" style="background: white;" id="gradeListData">
			<div class="mui-input-row mui-checkbox mui-left">
				<label>全选</label>
				<input name="checkbox1" type="checkbox">
			</div>

			<ul class="mui-table-view" v-for="(gradeModel,index) in gradeListArray">
				<li class="mui-table-view-cell">
					<div style="width: 50%;height: 40px;" class="flex-item">
						<div class="mui-input-row mui-checkbox mui-left" style="margin-top: -10px;height: 30px;">
							<label>{{gradeModel.grdname}}</label>
							<input v-model="gradeModel.flag" name="checkbox1" type="checkbox">
						</div>
					</div>
					<div class="flex-container" v-for="(classModel,index) in gradeModel.classArray">
						<!--<div class="mui-input-row mui-checkbox mui-left">
							<label>全选</label>
							<input name="checkbox1" type="checkbox">
						</div>
						<div class="mui-input-row mui-checkbox mui-left">
							<label>全选</label>
							<input name="checkbox1" type="checkbox">
						</div>
						<div class="mui-input-row mui-checkbox mui-left">
							<label>全选</label>
							<input name="checkbox1" type="checkbox">
						</div>
						<div class="mui-input-row mui-checkbox mui-left">
							<label>全选</label>
							<input name="checkbox1" type="checkbox">
						</div>-->
						<div class="mui-input-row mui-checkbox mui-left">
							<label>{{classModel.clsname}}</label>
							<input name="checkbox1" type="checkbox">
						</div>
						<!--<div style="width: 33.3%;height: 40px;position: relative;" class="flex-item">
							<div class="mui-input-row mui-checkbox mui-left" style="margin-top: -20px;height: 30px;">
								<label>{{classModel.clsname}}</label>
								<input v-model="classModel.flag" name="checkbox1" type="checkbox">
							</div>
						</div>-->
					</div>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/utils/vue.min.js"></script>
		<script src="../../js/utils/utils.js"></script>
		<script src="../../js/utils/events.js"></script>
		<script src="../../js/libs/jquery.js"></script>
		<script src="../../js/publicProtocolNew.js"></script>
		<!--<script src="../../js/publicProtocol.js"></script>-->
		<script src="../../js/utils/vconsole.min.js"></script>
		<!--加密-->
		<script src="../../js/libs/RSA/Barrett.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/BigInt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/libs/RSA/RSA.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/utils/RSAEncrypt.js" type="text/javascript" charset="utf-8"></script>

		<script src='../../js/libs/crypto-js/require.js'></script>
		<script src='../../js/utils/signHmacSHA1.js'></script>
		<script src='../../js/utils/sortSign.js'></script>
		<script src="../../js/storageKeyName.js"></script>
		<script src="../../js/utils/store.js"></script>
		<script type="text/javascript">
			mui.init();
			//获取个人信息
			var personal = store.get(window.storageKeyName.PERSONALINFO);
			console.log('personal:' + JSON.stringify(personal));
			var publicParameter = store.get(window.storageKeyName.PUBLICPARAMETER);
			mui.plusReady(function() {
				curPage = utils.getDataFromUrl(window.location.href);
				console.log('2222:' + JSON.stringify(curPage));
				//1.学校年级
				getGradeList();
			});

			//页面总数据
			var gradeListData = new Vue({
				el: "#gradeListData",
				data: {
					flag: 0, //是否获取到数据
					gradeListArray: [], //获取到的总数据
					selectArray: [] //选择的数据
				},
				methods: {
					addNotice: function() {

					}
				}
			});
			//head
			var tempVue = new Vue({
				el: "#tempVue",
				data: {

				},
				methods: {
					addNotice: function() {

					}
				}
			});

			//1.学校年级
			var getGradeList = function() {
				var enData0 = {};
				//不需要加密的数据
				var comData0 = {
					uuid: publicParameter.uuid, //用户设备号
					utoken: personal.utoken, //用户令牌
					appid: publicParameter.appid, //系统所分配的应用ID
					isfinish: 0 //是否已毕业，0未毕业,1已毕业,-1全部
				}
				events.showWaiting();
				//发送网络请求，data为网络返回值
				postDataEncry('SchGrade', enData0, comData0, 0, function(data) {
					events.closeWaiting();
					if(data.RspCode == 0) {
						var gradeStr = ''; //年级id
						for(var i = 0; i < data.RspData.grds.length; i++) {
							var model = data.RspData.grds[i];
							model.flag = 0; //未选择
							model.classArray = []; //存放对应的班级
							gradeStr = gradeStr + ',' + model.grdid;
						}
						gradeListData.gradeListArray = data.RspData.grds;
						//获取年级里面的班级
						gradeStr = gradeStr.substr(1);
						console.log('gradeStr:' + gradeStr);
						//3.学校年级下班级
						getClassList(gradeStr);
					} else {
						mui.toast(data.RspTxt, "cancel");
					}
				});
			}

			//3.学校年级下班级
			var getClassList = function(str) {
				var enData0 = {};
				//不需要加密的数据
				var comData0 = {
					uuid: publicParameter.uuid, //用户设备号
					utoken: personal.utoken, //用户令牌
					appid: publicParameter.appid, //系统所分配的应用ID
					gradeids: str //需要查询的年级ID,多个ID用英文逗号隔开
				}
				events.showWaiting();
				//发送网络请求，data为网络返回值
				postDataEncry('GradeClass', enData0, comData0, 0, function(data) {
					events.closeWaiting();
					if(data.RspCode == 0) {
						//循环年级
						for(var i = 0; i < gradeListData.gradeListArray.length; i++) {
							var gradeModel = gradeListData.gradeListArray[i];
							//循环得到的班级列表
							for(var a = 0; a < data.RspData.clss.length; a++) {
								var classModel = data.RspData.clss[a];
								//判断年级id是否一致
								if(gradeModel.grdid == classModel.grdid) {
									classModel.flag = 0; //默认未选择
									gradeModel.classArray.push(classModel);
								}
							}
						}
					} else {
						mui.toast(data.RspTxt, "cancel");
					}
				});
			}
		</script>
	</body>

</html>